.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// import pages styles
@import "assets/styles/pages/homepage";
@import "assets/styles/pages/todoitempage";
@import "assets/styles/pages/edittodoitempage";

// import components styles
@import "assets/styles/components/table";
@import "assets/styles/components/header";
